body {
  background-color: lightgrey;
}


p {
  color: orange;
  font-size: 28px;
  text-align: center;
  font-family: Arial, Helvectica, sans-serif;
}

.second_p {
  color: green;
  font-size: 20px;
}

#some {
  color: purple;
}

#third_p {
  background-color: pink;
  color: white;
  font-size: 16px;
}

.another_class {
  color: blue;
}

span {
  color: yellow;
}
